<VirtualHost *:{{ apache_port }}>
    ServerAdmin webmaster@localhost

    ServerName {{ item.domain }}
    ServerAlias www.{{ item.domain }}

    DocumentRoot /home/{{ user }}/server/{{ item.directory }}/web
    <Directory />
        Options FollowSymLinks
        AllowOverride All
    </Directory>
    <Directory /home/{{ user }}/server/{{ item.directory }}/web/>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    ScriptAlias /cgi-bin/ /usr/lib/cgi-bin/
    <Directory "/usr/lib/cgi-bin">
        AllowOverride All
        Options +ExecCGI -MultiViews +SymLinksIfOwnerMatch
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog /home/{{ user }}/server/{{ item.directory }}/error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog /home/{{ user }}/server/{{ item.directory }}/access.log combined
</VirtualHost>
